{% block content %}
{% load static %}

<script>
    document.addEventListener('DOMContentLoaded', function(){
        document.querySelector('form').onsubmit = function() {
            const email = document.querySelector('#email').value;
            alert(`Hello, ${email}!`);
        };
    });
</script>
<link rel="stylesheet"  href="{%  static  'css/foo.css'  %}">
<footer style="background-color: #36454F; padding: 50px 0; color: #fff;">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h3 class="mb-4 font-weight-bold">Subscribe to our Newsletter</h3>
                <p class="text-muted">Stay up-to-date with the latest news, updates and offers.</p>
                <form action="{% url 'subscribe_newsletter' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group mb-3">
                        <input id="email" name="email" type="email" class="form-control" placeholder="Enter your email" required>
                        <button type="submit" class="btn btn-outline-light font-weight-bold btn-success">Subscribe</button>

                    </div>
                </form>
            </div>
            <div class="col-md-3 offset-md-1">
                <h3>Contact Us</h3>
                <ul class="list-unstyled">
                    <li><i class="fa fa-envelope"></i> saahndongransom@gmail.com</li>
                    <li><i class="fab fa-whatsapp"></i> (237)650473572</li>
                </ul>
            </div>
            <div class="col-md-2 offset-md-1">
                <h3>Follow Us</h3>
                <ul class="list-unstyled social-media">
                  <li>
                    <a href="https://web.facebook.com/saah.ransomm" target="_blank">
                      <i class="fab fa-facebook-f"></i>
                      <span>Facebook</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/SaahndongRansom" target="_blank">
                      <i class="fab fa-twitter"></i>
                      <span>Twitter</span>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/in/saahndong-ransom-7b3ba41b3/" target="_blank">
                      <i class="fab fa-linkedin"></i>
                      <span>linkedin</span>
                    </a>
                  </li>
                  
                  <li>
                    <a href="#">
                      <i class="fab fa-youtube"></i>
                      <span>YouTube</span>
                    </a>
                  </li>
                </ul>
              </div>
        </div>
        <br>
        <hr style="border-color: #fff;">
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">&copy; 2022 Newhatchtech.com. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>

<style>
  .social-media li {
    display: inline-block;
    margin-right: 15px;
  }
  .social-media li:last-child {
    margin-right: 0;
  }
  .social-media a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: block;
  }
  .social-media a:hover {
    color: #f5f5f5;
  }
  .input-group {
    position: relative;
  }
  .input-group .btn-success {
    position: absolute;
    right: 0;
    top: 0;
    bottom:0;
}
.input-group .form-control {
border-radius: 0;
}
.btn-success {
background-color: #0d6efd;
border-color: #0d6efd;
font-weight: bold;
}
.btn-success:hover {
background-color: #0b5ed7;
border-color: #0b5ed7;
}
footer p {
margin-bottom: 0;
}


{% endblock content %}
